@model Spreetail.Budgeter.ViewModels.Budget.BudgetViewModel


<h1>@Model.Name</h1>

<h4>Budget for @Model.BudgetDate.ToString("MMMM yyyy")</h4>

<br />

<div id="no-categories" class="alert-danger" style="display:none;margin-bottom:15px;">
    Please create a category first.
</div>
<div>
    <button type="button" class="btn btn-primary" id="add-a-cat" data-toggle="modal" data-target="#cat-input-modal">Add a Category</button>
    <button type="button" class="btn btn-primary" id="add-an-item">Add an Item</button>
</div>

@Html.Partial("_CategoryInput")

@Html.Partial("_PurchaseSummaryPrompt")

@Html.Partial("_ItemInput")

@Html.Partial("_DeletePrompt")

<div id="spending-records">
    @if (Model.Items?.Count > 0)
    {
        for (int i = 0; i < Model.Items.Count; i++)
        {
            @Html.Partial("_CategorySpending", Model.Items[i]);
        }
    }
</div>

@{
    var nextMonth = Url.Action("Index", "Budget", new { ID = Model.BudgetID, month = Model.BudgetDate.AddMonths(1).Month, year = Model.BudgetDate.AddMonths(1).Year });
    var prevMonth = Url.Action("Index", "Budget", new { ID = Model.BudgetID, month = Model.BudgetDate.AddMonths(-1).Month, year = Model.BudgetDate.AddMonths(-1).Year });
}

<br /><br />
<button class="btn btn-default" id="purchase-sum-prompt">View Your Spending Summary</button>

<br /><br />
<div>
    <a class="btn btn-primary" href="@prevMonth">Previous Month</a>
    <a class="btn btn-primary" href="@nextMonth">Next Month</a>
</div>


@section scripts{
    @*<script>
        var PURCHASE_SUM_URL = '@Url.Action("PurchaseSummary", "Budget")';

            $("#purchase-sum-prompt").click(() => {
                $("#purchase-sum-modal").modal("show");
            });

            $("#purchase-sum-go").click(() => {
                window.location = PURCHASE_SUM_URL + "/"+ budgetID +"?startdate=" + $("#ps-start-date").val() + "&enddate=" + $("#ps-end-date").val();
            });
        </script>*@

    <script>
        var CATEGORY_SPENDING_GET = '@Url.Action("GetCategorySpendingHTML", "Budget")';
        var CATEGORY_SAVE = '@Url.Action("SaveCategory", "Budget")';
        var CATEGORY_GET_ALL = '@Url.Action("GetAllCategories", "Budget")';

        var ITEM_SAVE = '@Url.Action("SaveItem", "Budget")';
        var ITEM_DELETE = '@Url.Action("DeleteItem", "Budget")';

        var REOCCURING_DELETE = '@Url.Action("DeleteReoccuringItem", "Budget")';
        var REOCCURING_SAVE = '@Url.Action("SaveReoccuringItem", "Budget")';
        var REOCCURING_GET = '@Url.Action("GetReoccuringItem", "Budget")';

        var PURCHASE_SUM_URL = '@Url.Action("PurchaseSummary", "Budget")';

        var DISPLAY_DATE = '@Model.BudgetDate.ToString("yyyy-MM-dd")';

        var budgetDate = '@Model.BudgetDate';
        var budgetID = '@Model.BudgetID';

    </script>

    @Scripts.Render("~/bundles/budgetcontrols")
    @Scripts.Render("~/bundles/purchaseprompt")


}